                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        
                        <h4 class="card-title">Barra de progreso</h4>

                        <div class="progress">
                          <div class="progress-bar progress-bar-striped progress-bar-animated" 
                            role="progressbar" 
                            [attr.ariaValuenow]="porcentaje1"
                            aria-valuenow="50" 
                            aria-valuemin="0"
                            aria-valuemax="100" 
                            [style.width]="porcentaje1 + '%'"
                            style="width: 50%">
                          </div>
                        </div>

                        <div class="progress">
                          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" 
                              role="progressbar" 
                              [attr.ariaValuenow]="porcentaje2"
                              aria-valuenow="50" 
                              aria-valuemin="0" 
                              aria-valuemax="100" 
                              [style.width]="porcentaje2 + '%'" 
                              style="width: 50%">
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-6">
                    <div class="card">
                      <div class="card-body">

                        <app-incrementador (newValor)="porcentaje1 = $event" leyenda="La verga es" [porcentaje]="20"></app-incrementador>

                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="card">
                      <div class="card-body">
                  
                        <app-incrementador (newValor)="porcentaje2 = $event"  leyenda="Barra Derecha" [porcentaje]="10"></app-incrementador>
                  
                      </div>
                    </div>
                  </div>

                </div>